<div class="row" id="settings">

	<div class="col-md-12" id="new-user-container">
		<%= render(partial: "users/new_rep_registration_form", locals: { user: @user } ) %>
	</div>

	<div class="col-md-12" id="existing-users-container">
		
		<div class="col-md-6 active-users">
			<h2>Current Users</h2>
			<% if @active_users %>
				<% @active_users.each do |user| %>
						<div class="curUser">
						<% if user.role == 2 %>
							<%=form_for user do |f| %>	
							<%= f.text_field :email, value: user.email, class: "rep-email-input current", disabled: true %>
						    <%= button_tag 'Save',  class: "update-rep", disabled: true,  'data-disable-with' =>  "<i class='fa fa-spinner fa-spin'></i>".html_safe %>
						    <%end%>           

						    <input class="activate-edit-field" type="button" value="Edit">
								<%= button_to 'Delete', 
											 { controller: "users",
											 	 action: "destroy", 
											 	 id: user.id },
					               method: :delete, 
					               class: "delete-rep",
					               data: { confirm: "Are you sure?",
					               disable_with: 'deleting...' } %>
		           		<br>
		           		<%= link_to "View #{user.first_name}'s Calendar", user_visits_path(user), class: "viewCal" %>
			     		<% end%>
		     		</div>
				<% end %>	
			<% else %>
				<h3> There are no active users associated with this account.</h3>
			<%end%>
		</div>	

		<div class="col-md-6 pending-users">
			<h2>Pending Invites</h2>
			<% if @pending_users %>
				<% @pending_users.each do |user| %>
					<div class="curUser">
					<% if user.role == 2 %>
						<input type="text" class="rep-email-input" value="<%= user.email %>" disabled />
			      		<%= button_to 'Resend Invite', 
			      				user_confirmation_path(user: {:email => user.email }),
			      				:method => :post,
			      				:class => "resendInvite",
			      				data: { confirm: "Resend invitation email to #{user.email}?",
			               		disable_with: 'sending...' } %>
			            <%= button_to 'Delete', 
									 { controller: "users",
									 	 action: "destroy", 
									 	 id: user.id },
			               method: :delete,
			               :class => "deleteUser",
			               data: { disable_with: 'deleting...' } %>       	
	     		<% end%>     
	     		</div>   
				<% end %>	
			<% else %>
				<h3>There are no pending users associated with this account.</h3>
			<%end%>
		</div>		

	</div>

</div>
