<div class="mobileNav">

	<% if user_signed_in? %>
		
		<ul>
			<li><%= link_to "Dashboard", root_path %></li>
		</ul>

		<ul>
			<li><%= link_to "Prospective Students", dashboard_prospective_students_path(current_user) %></li>
		</ul>
	  	
	  	<ul>
	  		<li><%= link_to 'Calendar', user_visits_path(current_user.id) %></li>
	  	</ul>
	  	
	  	<ul>
	  		<li><%= link_to 'Search', search_high_schools_path %></li>
	  	</ul>

	  	<ul>
	  		<li><%= link_to 'Notes', all_notes_user_high_schools_path(current_user.id) %></li>
	  	</ul>

	  	<ul>
	  		<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
	  	</ul>

	<% else %>
	  	<ul>
	  		<li><%= link_to "Sign up", new_user_registration_path %></li>
	  	</ul>

	  	<ul>
	  		<li><%= link_to "Login", new_user_session_path %></li>
	  	</ul>

	<% end %>

</div>